html {
  background-color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Site NNavigation */

.site-nav {
  margin-left: 50;
}

.site-nav ul {
  margin: 0;
  padding: 0;
}
.site-nav li {
  list-style: none;
  float: left;
  margin-right: 5px;
}

.site-nav a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 20px 100px;
  border: 5px solid white;
  margin-top: 20px;
  margin-left: 60px;
}

.site-nav a:hover {
  background-color: grey;
}
/* End Site Navigation */

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../CSS/Red\ Flat\ &\ Minimalist\ Comfort\ Food\ Website.png);
  color: black;
}

.about-section {
  background-color: white;
  background-size: 25%;
  overflow: hidden;
  padding: 110px 100;
}

.inner-container {
  width: 55%;
  float: right;
  background-color: #fefdfd;
  padding: 150px;
}

.text {
  font-size: 16px;
  color: gray;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

@media screen and (max-width: 1200px){
  .inner-container {
    padding: 80px;
  }
}

@media screen and (max-width: 1000px;){
  .about-section{
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container{
    width: 100%;
}

@media screen and (max-width:600px;) { 
  .about-section{
    padding: 0;
  }
  .inner-container
  padding:60px
}
